################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.user
/bin/Debug
/obj
/bin/Release
.vs/
NodeMode/bin/
NodeMode/obj/
